# Dependencies
node_modules

# Build output
dist

# Vite
.vite/

# Environment variables
.env
.env.*
!.env.example

# macOS
.DS_Store

# Logs
*.log
npm-debug.log*

# Editor
.vscode/
.idea/

# gh-pages
.cache/
